*.DS_Store
*.ipynb
*.h5
*.tfrecords
*.npy
*.npz
*.hdf5
*.data*
*.index
*.pb
*.lua
*.mat
*.swp
*.csv
*.tsv
*.pyc
./experiments/results/
*.pyc
*__pycache__/*
**/.ipynb_checkpoints
./src/*.ipynb
./src/*/*.ipynb
