*.DS_Store
*.h5
*.tfrecords
*.npy
*.npz
*.hdf5
*.data*
*.index
*.pb
*.pdf
*.lua
*.mat
*.swp
*.csv
*.tsv
*.pyc
*.e*
*.o*
./experiments/results/
*.pyc
*__pycache__/*
**/.ipynb_checkpoints
./src/*.ipynb
./src/*/*.ipynb
test.ipynb
./notebooks/*.h5
./notebooks/*.csv
*.pdf
*.ipynb
./shallow_1/
test_plots.ipynb
*.txt
